<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>cripto</title>
    </head>
    <body>
        <script src="/static/validate.js"></script>
        <select id="cifrado" onchange="change()">
            <option>DES</option>
            <option>AES</option>
        </select>
        <form action="/cipher" method="POST">
            <input value="DES" name="command" id="command" hidden />
            <input type="text" name="msg" />
            <input type="text" name="key" />
            <button type="submit">Guardar</button>
        </form>
    </body>
</html>
